@media (max-width: 576;){
    .content{
        text-align: center;
    }
    
}
*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.main-footer{

}

.section3 {
    background: radial-gradient(
        ellipse at top, 
        rgba(41,70,102,1) 0%, 
        rgba(23,32,47,1) 50%,
        rgba(15,24,33,1) 100%);
}

.footer{
    background-color: blue;
}

.main-footer .sub-header{
    border: 1px solid red;
    text-transform: capitalize;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}